@tailwind base;
@tailwind components;
@tailwind utilities;

::selection {
    background-color: #47a3f3;
    color: #fefefe;
}

html {
    min-width: 360px;
    scroll-behavior: smooth;
}

#__next {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}

.sticky-nav {
    position: sticky;
    z-index: 10;
    top: 0;
}

.prose img {
    /* Don't apply styles to next/image */
    margin: 0 !important;
}

.lg\:prose-lg img {
    /* Don't apply styles to next/image */
    margin: 0 !important;
}

code[class*="language-"],
pre[class*="language-"] {
    @apply text-gray-800 dark:text-gray-50;
}

pre::-webkit-scrollbar {
    display: none;
}

pre {
    -ms-overflow-style: none; /* IE and Edge */
    scrollbar-width: none; /* Firefox */
}

.remark-code-title {
    @apply text-gray-800 dark:text-gray-200 px-5 py-3 border border-b-0 border-gray-200 dark:border-gray-700 rounded-t bg-gray-200 dark:bg-gray-800 text-sm font-mono font-bold;
}

.remark-code-title + pre {
    margin-top: 0 !important;
    border-top-left-radius: 0 !important;
    border-top-right-radius: 0 !important;
}

.mdx-marker {
    @apply block -mx-4 px-4 bg-gray-100 dark:bg-gray-800 border-l-4 border-blue-500;
}

.prose pre {
    @apply bg-gray-50 border border-gray-200 dark:border-gray-700 dark:bg-gray-900 m-0;
}

.prose code {
    @apply text-gray-800 dark:text-gray-200 px-1 py-0.5 border border-gray-100 dark:border-gray-800 rounded-md bg-gray-100 dark:bg-gray-900;
}
