@tailwind base;
@tailwind components;
@tailwind utilities;

@layer utilities {
    .text-secondary {
        @apply text-gray-600 dark:text-gray-400;
    }
}

::selection {
    background-color: #eab308;
    color: #fefefe;
}

html {
    scroll-behavior: smooth;
}

#__next {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}

.sticky-nav {
    position: sticky;
    z-index: 10;
    top: 0;
}

.prose img {
    /* Don't apply styles to next/image */
    margin: 0 auto !important;
}

.lg\:prose-lg img {
    /* Don't apply styles to next/image */
    margin: 0 auto !important;
}

pre::-webkit-scrollbar {
    display: none;
}

pre {
    -ms-overflow-style: none; /* IE and Edge */
    scrollbar-width: none; /* Firefox */
}

.remark-code-title {
    @apply text-gray-800 dark:text-gray-200 px-5 py-3 border border-b-0 border-gray-200 dark:border-gray-700 rounded-t bg-gray-200 dark:bg-gray-800 text-sm font-mono font-bold;
}

.remark-code-title + pre {
    margin-top: 0 !important;
    border-top-left-radius: 0 !important;
    border-top-right-radius: 0 !important;
}
